@model IEnumerable<Garage2._0.Models.Garage>
@{
    ViewBag.Title = "Home Page";
}

<div id="bigBox" class="jumbotron">
    <h1>Parking</h1>
    <p class="lead">Click here to park</p>
    <p><a href="~/Garage/Park" class="btn btn-primary btn-lg">Park &raquo;</a></p>
</div>

<h3>There are currently @Model.Count() vehicles in the garage.</h3>
